<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.kite.mm.guest.dao.GuestDao">
	
	<resultMap type="com.kite.mm.guest.domain.GuestArticleVo" id="guestArticle">
	
		<id property="idx" column="idx" />
		<result property="writer" column="memberid" />
		<result property="title" column="title" />
		<result property="content" column="content" />
		<result property="regdate" column="regdate" />
	
	</resultMap>
	
	
	<select id="selectCount" resultType="int">
	
		select count(*) from GUESTBOOK
	
	</select>
	
	
	<select id="selectArticleByIdx" resultMap="guestArticle">
	
		select * from GUESTBOOK where idx=#{idx}
	
	</select>
		
	
	<select id="selectArticleList" resultMap="guestArticle">
	
		select * from GUESTBOOK limit #{param1}, #{param2}
	
	</select>
	
	
	<insert id="insertArticle" parameterType="com.kite.mm.guest.domain.WriteRequest"
			useGeneratedKeys="true" keyProperty="idx">
	
		insert into GUESTBOOK (memberid, title, content)
		values (#{writer}, #{title}, #{content})
	
	</insert>


	<update id="editArticle" parameterType="com.kite.mm.guest.domain.WriteRequest">
	
		update GUESTBOOK set title=#{title}, content=#{content}, editdate=now() where idx=#{idx}
	
	</update>




</mapper>