h1{
    color: aqua;
}

h1.title {
    padding-left: 30px;
    color: #000;  /* = #000000 */
}

table.inputBox {
    margin-left: 100px;
    margin-top: 20px;
}

input[type=text],input[type=password] {
    width: 200px;
    height: 30px;
    font-size: 1.3em;
    padding: 0 10px;
}

input[type=submit] {
    padding: 10px
}

table.inputBox td {
    padding: 5px;
}